<section class="header-about">
<h1>About Us</h1>
</section>

<section class="about-us">
<h3>About GoesWebDesign</h3>
<div class="row">
<div class="about-col">
<h1>Experience and Expertise in Website Design and Development</h1>
<p>GGoes Web Designs is a software company  with a passion for creating visually appealing and functional websites, Goes Web Designs has helped numerous small businesses establish a strong online presence. The Goes Web Designs team has a proven track record of delivering exceptional results, ensuring client satisfaction through unique and customized website solutions. At Goes Web Designs, we pride ourselves on delivering high-quality websites that not only attract visitors but also convert them into customers. Our team understands the importance of user experience and employs cutting-edge technology and design principles to create websites that are visually stunning, easy to navigate, and optimized for search engines. With Goes Web Designs, your business can reach new heights online.</p>
</div>
<div class="about-col">
<%= image_tag "pexels-photo-3861958.jpeg" %>
</div>
</div>

</section>

<section class="testimoniall">
<div class="testimonialss">
<div class="row">
<div class="testimonials-coll">
<div>
<h2>Mission</h2>
<p>We are dedicated to helping small businesses flourish online through innovative website design and development solutions.</p>
</div>
</div>
<div class="testimonials-coll">
<div>
<h2>Vision</h2>
<p>To be the preferred choice for small business owners seeking professional and effective website design and development services.</p>
</div>
</div>

<div class="testimonials-coll">
<div>
<h2>Value</h2>
<p>We are committed to integrity, creativity, and client satisfaction in every project we undertake.</p>
</div>
</div>
</div>
</div>
</section>