<section class="header-about">
<h1>Our Service</h1>
</section>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<section class="course">
<div class="row">
<div class="course-col">
<div class="icon">
<i class="fa-solid fa-desktop"></i>
</div>
<h3>Starter</h3>
<ul>
<li>Responsive Website Builder</li>
<li>Home page and 3 inner pages</li>
<li>Mobile and tablet friendly design</li>
<li>Hosting with SSL</li>
<li>Social media integration</li>

</ul>
<h3>Only $999</h3>
</div>

<div class="course-col">
<div class="icon">
<i class="fa-solid fa-desktop"></i>
</div>
<h3> Business</h3>
<ul>
<li>Home page and 5 inner pages</li>
<li>Mobile and tablet friendly design</li>
<li>Hosting with SSL</li>
<li>Social media integration</li>
<li>Testimonials</li>
<li>User Login and Signup</li>
<li>Create Database</li>
<li>Use Api</li>
<li>Listing Products</li>
<li>Search Products</li>
<li>Filtering Products</li>
<h3>Only $1499</h3>
</ul>
</div>

<div class="course-col">
<div class="icon">
<i class="fa-solid fa-desktop"></i>
</div>
<h3>Premium</h3>
<ul>
<li>Hosting with SSL</li>
<li>Schedule Options</li>
<li>Contact Form</li>
<li>Social media integration</li>
<li>Testimonials</li>
<li>Create Database</li>
<li>Listing,Filtering,Searching Products</li>
<li>User Login and Signup</li>
<li>Add/Delete/Edit Options</li>
<li>Product Reviews or Ratings</li>
<h3>Only $1999</h3>
</ul>
</div>

<div class="course-col">
<div class="icon">
<i class="fa-solid fa-desktop"></i>
</div>
<h3>Delux</h3>
<ul>
<li>Schedule Options</li>
<li>Contact Form</li>
<li>Create Database</li>
<li>User Login and Signup</li>
<li>Listing,Filtering,Searching Products</li>
<li>Add/Delete/Edit Options</li>
<li>Product Reviews or Ratings</li>
<li>Add Products to Bag</li>
<li>Payment Options</li>
<h3>Only $2499</h3>
</ul>
</div>

</div>
</section>

